@font-face {
  font-family: "kalam";
  src: url("../assets/Kalam-Regular.ttf") format("truetype");
}

.navbar-brand {
  color: #29e890 !important;
}

.info-text {
  color: rgb(248, 249, 250);
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 100px;
}

.btn {
  margin-right: 20px;
  margin-left: 20px;
}

.btn-info {
  font-weight: 500 !important;
}

.links {
  display: flex;
  margin-right: 70px;
}

.icons {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

.panel {
  display: flex;
  justify-content: space-between;
  width: 1750px;
  height: 140px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  background-color: #c4d0f7;
}

.info {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  font-family: "kalam";
  font-size: 18px;
  flex-grow: 100;
  max-width: 1560px;
}

.tutorial {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  flex-grow: 1;
  margin-bottom: 10px;
}

.algo-info {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #002448;
  color: #c0e796;
}

.metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5%;
  padding: 8px;
  background-color: #002448;
  color: white;
  width: 200px;
  font-size: 12px;
  font-weight: 500;
}

.time {
  color: #ec8418;
}

.visited {
  color: #53f3ef;
}

.path {
  color: #c5ef09;
}

.grid {
  border-collapse: collapse;
  margin: auto;
  margin-top: 10px;
}

.node {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(168 177 195);
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.node-start {
  animation-name: startAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes startAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }
}

.node-end {
  animation-name: endAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes endAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 17, 187, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(34, 17, 217, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgb(25 239 234 / 75%);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(241 17 17);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255 148 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(197 239 9);
  }
}
