.navbar-brand {
  color: #29e890;
}

.navbar-buttons {
  margin-left: auto;
  width: 37.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  border-collapse: collapse;
  margin: auto;
  margin-top: 11.25rem;
}

.node {
  width: 1.5625rem;
  height: 1.5625rem;
  border: 1px solid rgb(168 177 195);
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.node-start {
  animation-name: startAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes startAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/rocket.svg");
    opacity: 0.7;
  }
}

.node-end {
  animation-name: endAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes endAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/earth.svg");
    opacity: 0.7;
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    background-image: url("../assets/rock.svg");
    opacity: 0.7;
  }
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 17, 187, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(34, 17, 217, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgb(25 239 234 / 75%);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(241 17 17);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255 148 0);
  }

  100% {
    transform: scale(1);
    background-color: rgb(197 239 9);
  }
}
